<% include ../head %>

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<img src="images/logo.png" />
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/">HOME</a></li>
					</ul>
				</div>
			</div>
		</nav>


	    <div class="container">
			<% if(validacao.length > 0){ %>
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger">
						<strong>Atenção!</strong>
						<ul>
							<% for(var i = 0 ; i < validacao.length ; i++) {%>
							<li><%= validacao[i].msg %></li>
							<% } /* Fim do for */%>
						</ul>
					</div>
				</div>
			</div>
			<% } %>

			<% if(msg != ''){ %>
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-success">
							<p><%= msg %></p>
						</div>
					</div>
				</div>
			<% } %>

	    	<div class="row">
	    		<div class="col-md-12">
	    			<form action="/noticias/salvar" method="post">
						<div class="form-group">
							<label for="titulo">Título:</label>
							<input type="text" class="form-control" id="titulo" name="titulo">
						</div>

						<div class="form-group">
							<label for="pwd">Resumo:</label>
							<input type="text" class="form-control" id="resumo" name="resumo">
						</div>
						
						<div class="form-group">
							<label for="pwd">Autor:</label>
							<input type="text" class="form-control" id="autor" name="autor">
						</div>

						<div class="form-group">
							<label for="pwd">Data:</label>
							<input type="date" class="form-control" id="data_criacao" name="data_criacao">
						</div>

						<div class="form-group">
							<label for="pwd">Notícia:</label>
							<textarea class="form-control" id="noticia" name="noticia"></textarea>
						</div>


						<button type="submit" class="btn btn-default">Cadastrar</button>
						</form>
		    	</div>
	    	</div>
	    </div>
	
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	
	</body>
</html>