body{
	background:#F8F8F8;
}

a:hover{
	text-decoration: none;
	color:#000;
}

.noticia_wrapper{
	background-color: #FFF;
	padding:15px;
	margin-bottom:15px;
	box-shadow: 1px 1px 2px #C3C3C3;
}

.navbar{
	background:#FFF;
}

.noticia_autor{
	color: #FF7C26;
	display: block;
}

.noticia_titulo{
	color:#000;
	font-size:22px;
	text-decoration: none;
}

.noticia_data{
	font-size: 8pt;
	color:#727272;
	display: block;
}

.noticia_resumo{
	color:#333;
	margin-right:10px;
}

.ver_mais{
	text-align: center;
	background:#FFF;
	padding:20px;
}