<% include ../head  %>

	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				 aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<img src="images/logo.png" />
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="/">HOME</a>
					</li>
					<li>
						<a href="formulario_inclusao_noticia">
							ADICIONAR NOTÍCIAS
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<% if (noticias.length > 0) { %>
					<% for(var i = 0; i < 2; i++) { %>

						<div class="noticia_wrapper">
							<span class="noticia_autor">
								<%= noticias[i].autor %>
							</span>
							<a href="noticia?id_noticia=<%= noticias[0].id_noticia %>" class="noticia_titulo">
								<%= noticias[i].titulo %>
							</a>
							<span class="noticia_data">
								<%= noticias[i].data_criacao %>
							</span>
							<br />
							<p class="noticia_resumo">
								<%= noticias[i].resumo %>
							</p>

						</div>
						<% if(noticias.length < 2 ) break; %>
					<% } %>
					<% } else { %>
						<div class="alert alert-danger">Ainda não existem notícias ;)</div>
					<% } %>
			</div>
		</div>

		<% if (noticias.length > 0) { %>
			<div class="row ver_mais">
				<button type="button" class="btn btn-default">
					<a href="noticias">Ver todas as notícias</a>
				</button>
			</div>
		<% } %>

	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</body>

</html>